.carousel-img {
  height: 700px;
  object-fit: contain; /* menampilkan gambar tanpa terpotong */
  object-position: center; /* memposisikan gambar di tengah */
}

.card-img {
  object-fit: cover;
  object-position: 0 20%;
}

@media (max-width: 768px) {
  .carousel-img {
    height: 300px;
    object-position: initial;
  }
}
